/* Custom font face importing */
@font-face {
    font-family: 'PT Sans', sans-serif;
}

/* Global Css Declaration */
*{
    font-family: 'PT Sans', sans-serif;
}


body {

    background: #36D1DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



.card {

    -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.44);

    margin-bottom: 100px !important;
    padding: 45px !important;
}


.card::after {

  
        content: ' ';
        width: 0px;
        height: 0px;
        border-top: 30px solid transparent;
        border-left: 30px solid transparent;
        border-bottom:30px solid #fff;
        border-right:5px solid transparent;
        position: absolute;
        left: 50%;
        bottom: 100%;
        margin-left: -45%;
       
}

.userCircle {
    background-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Shadow */

    -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.44);


}